{% extends "base.html.twig" %}
{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<h1>Nos Produits phares</h1>
	<ol class="breadcrumb">


		<li class="breadcrumb-item active">Accueil</li>
	</ol>
	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include "product/_product_cart.html.twig" with {'p': product	} %}
			</div>
		{% endfor %}
	</div>
	<hr/>
	<h2>Un service irreprochable</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus harum totam sunt ut, asperiores ipsam.</p>
	<div class="row">

		{% include "shared/_assurance.html.twig" with {"color": 'primary', "icon":' fas fa-truck', "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus harum totam sunt ut, asperiores ipsam."}  %}

		{% include "shared/_assurance.html.twig" with {"color": 'success', "icon":' fas fa-check', "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus harum totam sunt ut, asperiores ipsam."}  %}
		{% include "shared/_assurance.html.twig" with {"color": 'warning', "icon":' fas fa-lock', "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus harum totam sunt ut, asperiores ipsam."}  %}

	</div>
{% endblock %}
